#
# SPDX-FileCopyrightText: 2025 The LineageOS Project
# SPDX-License-Identifier: Apache-2.0
#

on fs
    mkdir /mnt/vendor/persist/camera 0777 cameraserver cameraserver

on post-fs-data
    mkdir /data/vendor/camera 0775 camera camera
    chmod 0444 /mnt/vendor/persist/camera/bokeh_caldata_uw_persist.bin
    copy  /mnt/vendor/persist/camera/bokeh_caldata_uw_persist.bin /data/vendor/camera/bokeh_caldata_uw_persist.bin
    chmod 0444 /data/vendor/camera/bokeh_caldata_uw_persist.bin
    chown cameraserver audio /data/vendor/camera/bokeh_caldata_uw_persist.bin

    chmod 0444 /mnt/vendor/persist/camera/bokeh_caldata_tele_persist.bin
    copy /mnt/vendor/persist/camera/bokeh_caldata_tele_persist.bin /data/vendor/camera/bokeh_caldata_tele_persist.bin
    chmod 0444 /data/vendor/camera/bokeh_caldata_tele_persist.bin
    chown cameraserver audio /data/vendor/camera/bokeh_caldata_tele_persist.bin

    chmod 0777 /vendor/etc/camera
    copy /vendor/etc/camera/bokeh_caldata_uw_golden.bin /data/vendor/camera/bokeh_caldata_uw_golden.bin
    chmod 0444 /data/vendor/camera/bokeh_caldata_uw_golden.bin
    chown cameraserver audio /data/vendor/camera/bokeh_caldata_uw_golden.bin

    copy /vendor/etc/camera/bokeh_caldata_tele_golden.bin /data/vendor/camera/bokeh_caldata_tele_golden.bin
    chmod 0444 /data/vendor/camera/bokeh_caldata_tele_golden.bin
    chown cameraserver audio /data/vendor/camera/bokeh_caldata_tele_golden.bin

    symlink /mnt/vendor/persist/sensors/registry/registry/volcano_qrd_ois_manager_0.json.ois_manager_0_platform.ois.fac_cal.bias /data/vendor/camera/ois_gyro_offset
    chown cameraserver audio /data/vendor/camera/ois_gyro_offset

    setprop ro.media.xml_variant.profiles "_volcano_v1_${ro.boot.pbid}"

on early-boot
    chmod 660 /sys/devices/platform/soc/8c0000.qcom,qupv3_1_geni_se/880000.i2c/i2c-7/7-003a/leds/aw20036_led/dev_color
    chown system system /sys/devices/platform/soc/8c0000.qcom,qupv3_1_geni_se/880000.i2c/i2c-7/7-003a/leds/aw20036_led/dev_color

    chmod 660 /sys/devices/platform/soc/8c0000.qcom,qupv3_1_geni_se/880000.i2c/i2c-7/7-003a/leds/aw20036_led/operating_mode
    chown system system /sys/devices/platform/soc/8c0000.qcom,qupv3_1_geni_se/880000.i2c/i2c-7/7-003a/leds/aw20036_led/operating_mode
    chmod 660 /sys/devices/platform/soc/8c0000.qcom,qupv3_1_geni_se/880000.i2c/i2c-7/7-003a/leds/aw20036_led/frame_brightness
    chown system system /sys/devices/platform/soc/8c0000.qcom,qupv3_1_geni_se/880000.i2c/i2c-7/7-003a/leds/aw20036_led/frame_brightness

on boot
    chown system system /sys/devices/platform/soc/8c0000.qcom,qupv3_1_geni_se/880000.i2c/i2c-7/7-003a/leds/aw20036_led/factory_test
    chown system system /sys/devices/platform/soc/8c0000.qcom,qupv3_1_geni_se/880000.i2c/i2c-7/7-003a/leds/aw20036_led/imax
    chown system system /sys/devices/platform/soc/8c0000.qcom,qupv3_1_geni_se/880000.i2c/i2c-7/7-003a/leds/aw20036_led/effect
    chown system system /sys/devices/platform/soc/8c0000.qcom,qupv3_1_geni_se/880000.i2c/i2c-7/7-003a/leds/aw20036_led/device_color
    chown system system /sys/class/leds/aw20036_led/hwid
    chmod 664 /sys/class/leds/aw20036_led/hwid
    chown system system /sys/class/leds/aw20036_led/effect
    chmod 664 /sys/class/leds/aw20036_led/effect
    chown system system /sys/class/leds/aw20036_led/all_brightness
    chmod 220 /sys/class/leds/aw20036_led/all_brightness
    chown system system /sys/class/leds/aw20036_led/imax
    chmod 664 /sys/class/leds/aw20036_led/imax
    chown system system /sys/class/leds/aw20036_led/frame_brightness
    chmod 220 /sys/class/leds/aw20036_led/frame_brightness
    chown system system /sys/class/leds/aw20036_led/operating_mode
    chmod 664 /sys/class/leds/aw20036_led/operating_mode
    chown system system /sys/class/leds/aw20036_led/all_white_brightness
    chmod 220 /sys/class/leds/aw20036_led/all_white_brightness
    chown system system /sys/class/leds/aw20036_led/factory_test
    chmod 664 /sys/class/leds/aw20036_led/factory_test
    chown system system /sys/class/leds/aw20036_led/single_brightness
    chown system system /sys/class/leds/aw20036_led/vip_notification
    chown system system /sys/class/leds/aw20036_led/dev_color
    chown system system /mnt/vendor/persist/color
    chmod 444 /mnt/vendor/persist/color

    mkdir data/vendor/fpdump 0777 system system
    restorecon /data/vendor/fpdump

    chmod 0660 /proc/touchpanel/TP_charger_flags
    chown system system /proc/touchpanel/TP_charger_flags

on property:sys.boot_completed=1
    swapon_all /odm/etc/fstab.zram.2g

    write /dev/cpuset/background/cpus 0-2
    write /dev/cpuset/system-background/cpus 0-5

    chown system system /proc/charger/nt_otg_enable
    chmod 0664 /proc/charger/nt_otg_enable

on property:sys.touch.pocket_mode=*
    write /proc/touchpanel/pocket_mode ${sys.touch.pocket_mode}

on property:vendor.all.modules.ready=1
    chown system system /proc/touchpanel/fod_mode
    chown system system /sys/panel_feature/fp_status

    start asteroids_nfc_detect

on property:sys.boot_completed=1 && property:persist.sys.sltntc.enable=0
	stop sltntc

on property:sys.boot_completed=1 && property:persist.sys.sltntc.enable=1
	start sltntc
    
on property:vendor.nfc.config_file_name=*
    setprop persist.vendor.nfc.config_file_name ${vendor.nfc.config_file_name}

on property:vendor.nfc_model=*
    setprop persist.vendor.nfc_model ${vendor.nfc_model}

on property:sys.usb.state=*
    write /sys/class/power_supply/battery/uevent "change"
    write /sys/class/power_supply/usb/uevent "change"

service asteroids_nfc_detect /odm/bin/init.asteroids.nfc.sh
    class main
    user shell
    group shell
    disabled
    oneshot

service sltntc /system_ext/bin/sltntc
    class hal
    user system
    group system readproc root
    disabled

